@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "MontserratBlack";
    src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}


/*------------------------------- Le menu -------------------------*/

.menu {
    width: 100%;
    padding: 13px;
    padding-left: 21px;
    background-color: #d92950;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.menu ul {
    width: 100%;
    list-style: none;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 24px;
    vertical-align: baseline;
    letter-spacing: normal;
    font-weight: 600;
}

.menu ul>li {
    margin-right: 38px;
}

.menu ul li:nth-child(1) {
    border-bottom: 2px solid #ff046b;
}

.menu ul>li:hover {
    border-bottom: 2px solid #ff046b;
}

h1 {
    text-align: center;
    padding-top: 135px;
}


/*----------------------- text header -------------------------*/

.text-header {
    background-image: url("../img/hero-background.jpg");
    background-size: cover;
    height: 800px;
    margin-top: 90px;
}

.text-header h1 {
    font-family: MontserratBlack, sans-serif;
    font-size: 75px;
    font-weight: bold;
    color: white;
}

.text-header span {
    color: #ffe64d;
}

.button-header {
    text-align: center;
}

.button-header button {
    font-size: 20px;
    height: 65px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    padding: 0 20px;
    color: #d92950;
    cursor: pointer;
}

.button-header button:nth-child(1) {
    margin-right: 15px;
}

.button-header button:nth-child(2) {
    margin-left: 15px;
}

.button-header button:hover {
    background-color: #d9294f00;
    color: white;
    border: 2px solid white;
}

.text-header p {
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: white;
    font-size: 16px;
}

.logos-header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logos-header img {
    margin-top: 30px;
    height: 40px;
}


/*------------------------- Section developper -------------------*/

.developper {
    background-color: #f1f0f3;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

.img-campus img,
.kda-2020 img {
    border-radius: 20px;
    position: relative;
}

.img-campus img:nth-child(1) {
    width: 530px;
    height: 390px;
    margin: 0 0 0 -80px;
}

.img-campus img:nth-child(2) {
    width: 346px;
    height: 260px;
    margin: -200px 0 0 200px;
}

.text-developper h1 {
    font-family: MontserratBold, sans-serif;
    font-size: 40px;
    color: #424345;
    text-align: left;
    margin: -130px 0 60px 0;
}

.text-developper {
    padding: 0px 40px 100px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-developper img {
    width: 50px;
    height: 70px;
    border-bottom: 2px solid #ff046b;
    padding-bottom: 20px;
}

.text-developper p {
    font-family: MontserratBold, sans-serif;
    font-size: 20px;
    color: #424345;
    text-align: center;
}

.position {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo-gauche,
.logo-droite {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.logo-gauche {
    width: 360px;
}

.logo-droite {
    width: 360px;
    margin-top: -20px;
}

.langue img {
    width: 50px;
    height: 70px;
}

.horaire img {
    width: 50px;
    height: 70px;
}


/*----------------------- Parteneur --------------------*/

.parteneur {
    background-color: #d92950;
    height: 500px;
}

.logo-parteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}

.parteneur h1 {
    text-align: center;
    font-size: 40px;
    font-family: MontserratBold, sans-serif;
    color: white;
    margin-top: 0px;
}

.logo-parteneur img {
    width: 100px;
    margin-top: 60px;
}


/*------------------------------- Section Vos Projets----------------*/

.vos-projets {
    background-color: #f1f0f3;
    margin-top: -32px;
    height: 600px;
}

.vos-projets h1 {
    text-align: center;
    font-size: 40px;
    font-family: MontserratBold, sans-serif;
    color: #180027;
}

.text-projets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.vos-projets h2 {
    text-align: center;
    font-size: 28px;
    font-family: MontserratBold, sans-serif;
    color: #d92950;
}

.vos-projets p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #180027;
    text-align: center;
    padding: 0px 30px 0px 30px;
}

.votre-projet,
.votre-equipe {
    width: 550px;
    height: 300px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.votre-projet {
    border-top: 10px solid #ffe64d;
    margin-left: 80px;
}

.votre-equipe {
    border-top: 10px solid #d92950;
    margin-right: 80px;
}

.button-projet {
    text-align: center;
}

.button-projet button {
    font-size: 20px;
    height: 65px;
    border: none;
    border-radius: 15px;
    font-family: RobotoRegular, sans-serif;
    font-weight: bold;
    padding: 0 20px;
    color: white;
    cursor: pointer;
    background-color: #d92950;
    margin-top: 30px;
}

.button-projet button:hover {
    background-color: white;
    color: #d92950;
    border: 2px solid #d92950;
}


/*--------------------- Projet réalisé -------------------*/

.projets-realise {
    background-color: #d92950;
    margin-top: -32px;
    height: 800px;
}

.projets-realise h1 {
    font-family: MontserratBold, sans-serif;
    font-size: 40px;
    color: white;
}

.projets-fait {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.projets-fait img {
    width: 320px;
    height: 400px;
    border-radius: 20px;
    margin: 40px -40px 0px -40px;
}

.ads {
    margin-left: -45px;
}

.text-ads p:nth-child(1) {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
}

.text-ads p:nth-child(2) {
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 70px;
    height: 20px;
    text-align: end;
    font-size: 11px;
    font-family: RobotoRegular, sans-serif;
    color: #d92950;
    font-weight: bold;
    margin-left: 20px;
    padding: 5px 10px 5px 0px;
}

.text-ads a {
    color: white;
    text-decoration: none;
}

.text-ads {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.langage {
    width: 320px;
    height: 30px;
    background-color: #ed0058;
    margin-left: 5px;
}

.langage img {
    width: 40px;
    height: 40px;
}