@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "MontserratBlack";
    src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "UbuntuMono";
    src: url("../fonts/UbuntuMono-Regular.ttf");
}

@font-face {
    font-family: "UbuntuMonoBold";
    src: url("../fonts/UbuntuMono-Bold.ttf");
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

a {
    position: relative;
}

a:hover:after {
    width: 100%;
}


/*------------------------------- Le menu -------------------------*/

.menu {
    width: 100%;
    padding: 13px;
    padding-left: 21px;
    background-color: #d92950;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    width: 30%;
}

.menu ul {
    width: 70%;
    list-style: none;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 24px;
    vertical-align: baseline;
    letter-spacing: normal;
    font-weight: 600;
    padding-bottom: 5px;
}

.menu .active a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ff046b;
}

.menu a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ff046b;
    transition: width 500ms ease;
}

.menu a:hover:after {
    width: 100%;
}

.menu ul>li {
    margin-right: 38px;
}

h1 {
    text-align: center;
    padding-top: 135px;
}

h2 {
    text-align: center;
    padding-top: 135px;
}


/*----------------------- text header -------------------------*/

.text-header {
    background-image: url("../img/hero-background.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
    margin-top: 90px;
}

.text-header h1 {
    font-family: MontserratBlack, sans-serif;
    font-size: 75px;
    font-weight: bold;
    color: white;
}

.text-header span {
    color: #ffe64d;
}

.button-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 42.6%;
    margin: auto;
}

.button-header .button {
    font-size: 20px;
    height: 65px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.text-header a {
    color: #d92950;
    text-decoration: none;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
    border: 2px solid white;
}

.button-header a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid white;
}

.text-header p {
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: white;
    font-size: 16px;
}

.logos-header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logos-header img {
    margin-top: 30px;
    height: 40px;
    opacity: 0.5;
}


/*------------------------- Section developper -------------------*/

.developper {
    background-color: #f1f0f3;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
}

.img-campus {
    width: 40%;
}

.img-campus img {
    border-radius: 20px;
    position: relative;
}

.img-campus img:nth-child(1) {
    width: 530px;
    height: 390px;
    margin: 0 0 0 -80px;
}

.img-campus img:nth-child(2) {
    width: 346px;
    height: 260px;
    margin: -200px 0 0 200px;
}

.text-developper h2 {
    font-family: MontserratBold, sans-serif;
    font-size: 40px;
    color: #424345;
    text-align: left;
    margin: -130px 0 60px 0;
}

.text-developper {
    width: 57%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-developper img {
    width: 50px;
    height: 70px;
    border-bottom: 2px solid #ff046b;
    padding-bottom: 20px;
}

.text-developper p {
    font-family: MontserratBold, sans-serif;
    font-size: 20px;
    color: #424345;
    text-align: center;
}

.position {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-gauche,
.logo-droite {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.logo-gauche {
    width: 360px;
}

.logo-droite {
    width: 300px;
    margin: -20px 0px 0px 50px;
}

.langue img {
    width: 50px;
    height: 70px;
}

.horaire img {
    width: 50px;
    height: 70px;
}


/*----------------------- Parteneur --------------------*/

.parteneur {
    background-color: #d92950;
    height: 500px;
}

.logo-parteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.parteneur h2 {
    text-align: center;
    font-size: 40px;
    font-family: MontserratBold, sans-serif;
    color: white;
    margin-top: 0px;
}

.logo-parteneur img {
    width: 150px;
    margin-top: 60px;
}

.orange-logo img {
    width: 80px;
}


/*------------------------------- Section Vos Projets----------------*/

.vos-projets {
    background-color: #f1f0f3;
    margin-top: -32px;
    height: 600px;
}

.vos-projets h2 {
    text-align: center;
    font-size: 40px;
    font-family: MontserratBold, sans-serif;
    color: #321c41;
}

.text-projets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.vos-projets h3 {
    text-align: center;
    font-size: 28px;
    font-family: MontserratBold, sans-serif;
    color: #d92950;
}

.vos-projets p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #321c41;
    text-align: center;
    padding: 0px 30px 0px 30px;
}

.votre-projet,
.votre-equipe {
    width: 550px;
    height: 300px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.votre-projet {
    border-top: 10px solid #ffe64d;
    margin-left: 80px;
}

.votre-equipe {
    border-top: 10px solid #d92950;
    margin-right: 80px;
}

.button-projet {
    text-align: center;
    margin-top: 50px;
}

.button-projet a {
    font-size: 20px;
    height: 65px;
    padding: 20px;
    border: 2px solid #d92950;
    border-radius: 15px;
    font-family: RobotoRegular, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: #d92950;
    margin-top: 30px;
}

.button-projet a:hover {
    background-color: white;
    color: #d92950;
    border: 2px solid #d92950;
}


/*--------------------- Projet réalisé -------------------*/

.projets-realise {
    background-color: #d92950;
    margin-top: -32px;
    height: 930px;
}

.projets-realise h2 {
    font-family: MontserratBold, sans-serif;
    font-size: 40px;
    color: white;
}

.projets-fait {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 700px;
}

.projets-fait img {
    width: 320px;
    height: 400px;
    border-radius: 20px;
    margin: 40px -40px 0px -40px;
}

.ads,
.covid,
.tandem {
    margin-left: -45px;
}

.text-ads p:nth-child(1),
.text-covid p:nth-child(1),
.text-tandem p:nth-child(1) {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
}

.text-ads p:nth-child(2),
.text-tandem p:nth-child(2) {
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 70px;
    height: 20px;
    text-align: end;
    font-size: 11px;
    font-family: RobotoRegular, sans-serif;
    color: #d92950;
    font-weight: bold;
    margin-left: 20px;
    padding: 5px 10px 5px 0px;
}

.text-ads a,
.text-tandem a {
    color: white;
    text-decoration: none;
}

.text-ads img {
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 11px;
}

.text-covid img {
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 11px;
    margin-right: -110px;
}

.text-tandem img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    margin-top: 11px;
}

.text-ads .pays {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

.text-covid .pays {
    display: flex;
    flex-direction: row;
    margin-left: 125px;
}

.text-tandem .pays {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 50px;
}

.text-ads,
.text-covid,
.text-tandem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.text-covid p:nth-child(2) {
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 70px;
    height: 20px;
    text-align: end;
    font-size: 11px;
    font-family: RobotoRegular, sans-serif;
    color: #d92950;
    font-weight: bold;
    margin-left: 90px;
    padding: 5px 10px 5px 0px;
}

.text-tandem p:nth-child(2) {
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 80px;
    height: 20px;
    text-align: end;
    font-size: 11px;
    font-family: RobotoRegular, sans-serif;
    color: #d92950;
    font-weight: bold;
    margin-left: 19px;
    padding: 5px 10px 5px 0px;
}

.langage,
.technos {
    width: 320px;
    height: 30px;
    background-color: #ed0058;
    margin-left: 5px;
    font-size: 11px;
    color: white;
    font-family: UbuntuMono;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.langage img {
    width: 10px;
    height: 10px;
    margin: 0px 0px 0px -225px;
    position: relative;
}

.langage-text {
    position: relative;
    margin: 0px 0px 0px -440px;
}

.technos .langage-text {
    position: relative;
    margin: 0px 0px 0px -515px;
}

.projets-fait button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
}

.projets-fait button {
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    color: #d92950;
    margin-left: -9px;
    margin-top: -5px;
    font-weight: bold;
}


/*------------------ Section expertise ---------------------*/

.notre-expertise {
    margin-top: -32px;
    height: 800px;
}

.notre-expertise h2 {
    font-family: MontserratBold, sans-serif;
    font-size: 40px;
    color: #424345;
}

.notre-expertise h3 {
    font-family: MontserratBold, sans-serif;
    font-size: 28px;
    color: white;
    margin-left: 20px;
}

.expertise {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}

.hardskills {
    width: 650px;
    height: 425px;
    background-color: #f1f0f3;
    margin-left: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hardskills-text {
    height: 70px;
    background-color: #d92950;
    margin-top: -22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-hard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
}

.img-1,
.img-2,
.img-3,
.img-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-1 p,
.img-2 p,
.img-3 p,
.img-4 p {
    margin-top: -10px;
    text-align: center;
    color: #424345;
    font-family: UbuntuMono, monospace;
    font-size: 20px;
}

.logo-hard img {
    width: 50px;
    height: 70px;
}

.logo-nodejs img,
.logo-mongodb img,
.logo-graphql img {
    margin-left: 10px;
}

.logo-js img {
    margin-left: 26px;
}

.logo-vuejs img,
.logo-laravel img {
    margin-left: 5px;
}

.softskills {
    width: 450px;
    height: 425px;
    background-color: #f1f0f3;
    margin-right: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.softskills-text {
    height: 70px;
    background-color: #180027;
    margin-top: -22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-soft {
    width: 400px;
    height: 280px;
    background-color: #dfdee1;
    border-radius: 20px;
    margin-top: 425px;
    margin-left: -140px;
    color: #424345;
    font-family: UbuntuMono, monospace;
    font-size: 20px;
    padding: 20px 50px 50px 50px;
    line-height: 31px;
}


/*----------------------- Section prêt ---------------*/

.pret {
    background-color: #ae3753;
    height: 660px;
}

.pret h2 {
    font-family: MontserratBold, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
}

.planification {
    width: 88%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: -30px auto;
}

.ordre {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.planifier-appel div {
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.planifier-appel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 180px;
}

.planifier-appel p {
    color: white;
    font-family: UbuntuMonoBold, monospace;
    font-size: 20px;
}

.planifier-appel img:nth-child(1) {
    width: 35px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-appel img {
    width: 35px;
    margin-left: -30px;
}

.arrow-profils img {
    width: 35px;
    margin-left: -40px;
}

.arrow-video img {
    width: 35px;
    margin-top: -5px;
    margin-left: -10px;
}

.planif-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.planif-button a {
    font-size: 20px;
    height: 65px;
    border: none;
    border-radius: 15px;
    border: 2px solid #d92950;
    font-family: RobotoRegular, sans-serif;
    font-weight: bold;
    padding: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: #d92950;
}

.planif-button a:hover {
    background-color: #ae3753;
    color: white;
    border: 2px solid white;
}


/*----------------------- Section Creation emploie ---------------*/

.creation-emploie {
    background-color: #f1f0f3;
    height: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.creation-emploie h2 {
    font-family: MontserratBold, sans-serif;
    font-size: 40px;
    color: #424345;
    text-align: left;
}

.creation-emploie p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #424345;
    text-align: left;
    line-height: 24px;
}

.emploie-qualite {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: -282px;
    margin-left: 80px;
    margin-right: 10px;
}

.emploie-qualite img {
    width: 100%;
    margin-top: 20px;
}

.emploie-qualite span {
    color: #d92950;
}

.avantages {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 250px;
    margin-left: -10px;
}

.avantages img {
    width: 50px;
}

.salaire,
.sante,
.travail,
.training {
    width: 270px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 30px 20px 30px 20px;
    padding: 20px;
}

.avantages h3 {
    font-family: MontserratBold, sans-serif;
    font-size: 24px;
    color: #424345;
    text-align: left;
    margin-top: -1px;
}

.avantages p {
    margin-top: -10px;
}


/*------------------ Section Kinshasa Digital dans les medias -----------------*/

.kd-medias {
    margin-top: -32px;
    background-color: #111111;
    height: 370px;
}

.kd-medias h2 {
    font-family: MontserratBold, sans-serif;
    font-size: 40px;
    color: white;
}

.medias {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/*------------------ Section Soutient -----------------*/

.soutient {
    margin-top: -33px;
    height: 1120px;
}

.soutient h2 {
    font-family: MontserratBold, sans-serif;
    font-size: 40px;
    color: #424345;
}

.soutient p {
    margin-left: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #424345;
    text-align: left;
    line-height: 24px;
}

.img-soutient {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.img-soutient img {
    width: 270px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.text-soutient {
    width: 270px;
    height: 350px;
}

.commun {
    width: 270px;
    height: 350px;
    margin-top: 50px
}

.top {
    margin-top: 72px;
}


/*------------------ Section Formulaire -----------------*/

.formulaire-contact {
    height: 1000px;
    background-color: #1d1b25;
}

.formulaire-text {
    text-align: center;
    padding-top: -80px;
}

.formulaire-text h2 {
    font-size: 48px;
    font-family: MontserratBold, sans-serif;
    color: rgba(255, 255, 255, 0.856);
}

.formulaire-text p {
    font-size: 16px;
    font-family: MontserratBold, sans-serif;
    color: rgba(255, 255, 255, 0.795);
}

.formulaire-text a {
    color: #D92950;
    text-decoration: none;
    padding-bottom: 3px;
    position: relative;
}

.formulaire-text a:hover:after {
    width: 100%;
}

.formulaire-text a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #D92950;
    transition: width 500ms ease;
}

.form,
.form-demande {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-demande {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titre,
.activite {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.titre label,
.activite label,
.form-demande label {
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.795);
}

.titre input,
.titre select,
.activite input,
.activite select,
.form-demande select,
.form-demande textarea {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    color: #495057;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    outline: none;
}

.form-demande textarea {
    height: 70px;
    margin-top: 20px;
}

.form-demande p {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    color: rgba(255, 255, 255, 0.795);
    padding-right: 30px;
}

.form-demande a {
    color: #d92950;
    text-decoration: none;
    padding-bottom: 1px;
    position: relative;
}

.form-demande a:hover:after {
    width: 100%;
}

.form-demande a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #D92950;
    transition: width 500ms ease;
}

.form-demande button {
    font-size: 16px;
    font-family: RobotoRegular, sans-serif;
    width: 10%;
    height: 55px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    padding: auto;
    background-color: #d92950;
    color: white;
    cursor: pointer;
}

.form-demande button:hover {
    border: 2px solid #d92950;
    background-color: #1d1b25;
}


/*------------------ Section Footer -----------------*/

footer {
    height: 600px;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

address {
    font-style: normal;
}

.footer-gauche {
    width: 55%;
    padding: 100px 0px 50px 90px;
    margin-left: -20px;
    font-style: normal;
    line-height: 33.6px;
    letter-spacing: normal;
    font-size: 22.4px;
    font-family: RobotoRegular, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
    color: #d92950;
    padding-bottom: 1px;
    position: relative;
}

footer a:hover:after {
    width: 100%;
}

footer a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #D92950;
    transition: width 500ms ease;
}

.lien-site {
    margin-top: 30px;
}

.lien-site a img {
    width: 20px;
    border-bottom: 2px solid #2d2d2d;
}

.lien-site .modif {
    width: 30px;
}

.lien-site a:nth-child(2),
.lien-site a:nth-child(3) {
    padding-left: 30px;
}

.footer-droite {
    width: 42%;
    height: 100px;
    line-height: 33.6px;
    font-size: 22.4px;
    font-family: Montserrat, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: -80px;
}

.footer-droite button {
    font-size: 16px;
    font-family: RobotoRegular, sans-serif;
    height: 55px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    padding: 0 30px;
    background-color: #d92950;
    color: white;
    cursor: pointer;
}

.footer-droite button:hover {
    color: #d92950;
    background-color: white;
    border: 2px solid #d92950
}

.footer-droite input {
    height: 55px;
    border: none;
    width: 400px;
    padding: 0 20px;
    font-size: 16px;
    font-family: RobotoRegular, sans-serif;
    color: #495057;
}

.footer-droite input:focus {
    outline: #ed0057;
}

.footer-droite p a {
    font-size: 16px;
    font-family: MontserratBold, sans-serif;
    color: white;
}

.text-footer {
    padding-top: 160px;
}

.footer-form form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}