@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "MontserratBlack";
    src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #d92950;
}


/*------------------------------- Le menu -------------------------*/

.menu {
    width: 100%;
    height: 90px;
    padding: 13px;
    padding-left: 21px;
    background-color: #d92950;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
}

.menu ul {
    width: 100%;
    list-style: none;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 24px;
    vertical-align: baseline;
    letter-spacing: normal;
    font-weight: 600;
}

.menu ul>li {
    margin-right: 38px;
}

.menu ul li:nth-child(1) {
    border-bottom: 2px solid #ff046b;
}

.menu ul>li:hover {
    border-bottom: 2px solid #ff046b;
}


/*----------------------- text header -------------------------*/

.text-header {
    background-image: url("../img/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

h1 {
    font-family: MontserratBlack, sans-serif;
    font-size: 75px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 135px;
}

.text-header span {
    color: #ffe64d;
}

.button-header {
    text-align: center;
}

.button-header button {
    font-size: 20px;
    height: 65px;
    border: 2px solid #ff046b;
    border-radius: 15px;
    font-weight: bold;
    padding: 0 20px;
    color: #d92950;
    cursor: pointer;
}

.button-header button:hover {
    background-color: #d9294f00;
    color: white;
    border: 2px solid white;
}

.text-header p {
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: white;
    font-size: 16px;
}

.logos-header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logos-header img {
    margin-top: 30px;
    height: 40px;
}


/*------------------------- Section developper -------------------*/

.developper {
    background-color: #f1f0f3;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

.img-campus img,
.kda-2020 img {
    border-radius: 20px;
}

.img-campus img:nth-child(1) {
    width: 530px;
    height: 390px;
    margin: 0 0 0 -80px;
}

.img-campus img:nth-child(2) {
    width: 346px;
    height: 260px;
    margin: -200px 0 0 200px;
}

.text-developper h1 {
    font-family: MontserratBold, sans-serif;
    font-size: 40px;
    color: #424345;
    text-align: left;
    margin: -130px 0 60px 0;
}

.text-developper {
    padding: 0px 40px 500px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-developper img {
    width: 70px;
    height: 80px;
    border-bottom: 2px solid #ff046b;
    padding-bottom: 20px;
}

.text-developper p {
    font-family: MontserratBold, sans-serif;
    font-size: 20px;
    color: #424345;
    text-align: center;
}

.logo-haut,
.logo-bas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.langue img {
    width: 50px;
    height: 70px;
}

.prix-competitifs {
    padding-left: 150px;
}

.horaire img {
    width: 50px;
    height: 70px;
}